/* Page: blog */
.page-info
	max-width: 590px
	margin: 0 auto
.all-blog-section
	max-width: 1114px
	margin: 0 auto
.blog-2
	.col-2
		max-width: calc((100% - 50px) / 2)
		box-sizing: border-box
		padding: 21px
		margin: 0 46px 50px 0 
		float: left
		border: 1px solid #dcdcdc
		&:nth-child(2n)
			margin-right: 0
		.blog-img
			margin: 0 0 0 -45px
			overflow: hidden
			min-height: 286px
			float: left
		.blog-details
			float: right
			width: 50%	
		.blog-date
			padding: 0

/* Page: Blog-details */
.blog-details-section
	max-width: 950px
	margin: -232px auto 50px
	box-shadow: 0px 2px 9px grey
	.post
		float: left
		width: 30%
		text-align: center
		.user-img-wrap
			margin: 94px auto 20px
			max-width: 100px
			overflow: hidden
			border-radius: 50%
			img
				width: 100%
		.post-social-wrap
			margin: 44px auto 0
			max-width: 84px
			.post-social-list
				text-align: left
				list-style: none
				li
					margin-bottom: 22px	
	.post-details-block
		float: right
		width: 63%
		margin: 0 60px 60px 0
		.section-heading
			text-align: left
			margin-top: 54px
		.post-content
			.candidate-post-img
				margin: 50px 0 60px 0
		.companies-block
			h4
				max-width: 446px

