@media (min-width: 768px)
	.testimonial-inner
		.content-block
			h3
				padding-top: 25px
				text-align: left
	p.highlights-list
		margin: 0
		padding-bottom: 35px
@media (max-width: 1600px)
	.container
		max-width: 1140px
	.contact-wrap
		max-width: 355px
	.clients-wrapper
		max-width: 750px
	.blog-img
		height: 125px
	.testimonial-wrapper
		max-width: 805px
	.slick-dots
		left: 48%
		margin-left: -5px
	.content-wrap
		.blog-content
			p
				height: 100px
				overflow: hidden	
@media (max-width: 1200px)
	.container
		max-width: 960px
	.alternate-block .content-block
		padding: 20px 50px
		margin-top: 0
	.alternate-block
		margin-bottom: 80px
	.leader-content
		padding: 0 60px
	.common-footer .footer-right .navigation li
		margin: 0 0 0 15px
	.testimonial-right
		padding: 40px
	.slick-dots
		left: 46%
	.image-banner
		padding: 40px 60px 60px
	.culture-img
		width: 392px
		max-width: none
		&.active
			width: 480px
			height: 330px
	.blogs-section
		padding: 0
	.right-canvas
		left: 87%
@media (max-width: 980px)
	h1
		font-size: 70px
	.right-content h2
		font-size: 30px
	h5
		font-size: 20px
	.banner-content h1
		margin: 30px 0 30px -30%
	.container
		padding: 0 15px
	.bedifrent-footer
		background: #e9e9e9
		padding: 100px 0 50px
	.footer-right .highlights-list
		width: 45%
	.alternate-block 
		.content-block
			.detail-link
				margin-top: 10px
		&:nth-child(odd)
			.content-block
				padding: 20px 0 0 40px
		&:nth-child(even)
			.content-block
				padding: 20px 40px 0 0
	.col-3	
		width: calc((100% - 30px) / 3)
		margin: 0 7px
		padding: 0 15px 20px
		text-align: center
		&:first-child
			margin-left: 0
		&:nth-child(3n)
			margin-right: 0
	.blog-content
		text-align: left
		p
			font-size: 16px
		.detail-link
			margin-top: 10px
	.testimonial-wrapper
		max-width: calc(100% - 30px)
	.news-section, .values-section
		margin: 50px 0
	.values-list .alternate-block
		margin-bottom: 80px
	.leader-section
		margin: 150px 0 150px
	.left-canvas, .right-canvas
		height: 235px
	.right-canvas
		top: 100px
		left: 85%
	.testimonial-left
		width: 35%
	.testimonial-right
		padding: 20px
		font-size: 16px
		p
			margin-bottom: 10px
		.testimonial-content
			/* height: 200px */
	.slick-dots
		left: 37%
		margin-left: 0
	.leader-content
		padding: 0
		left: 100px
		width: calc(100% - 100px)
	.culture-section .section-heading, .hiring-section .section-heading
		margin-bottom: 50px
	.culture-section
		margin-top: 0
	.hiring-section
		margin: 100px 0
	.culture-img
		width: 300px
		height: 240px
		&.active
			width: 368px
			height: 255px
		&.small
			max-width: 136px
	.col-2 .content-wrap
		padding-left: 15px
	.details-section
		padding: 50px 30px
		margin: -520px 0 90px
	.right-content
		padding-left: 30px
@media (max-width: 768px)
	h1, .image-banner h1
		font-size: 34px
		line-height: 40px
	h3
		font-size: 30px
		line-height: 36px
	.contact-header
		background-image: url('../images/banner-contact-mobile.jpg')
	.services-header, .blog-header
		background-image: url('../images/banner-services-mobile.jpg')
	.careers-header
		background-image: url('../images/banner-careers-mobile.jpg')
	.slop-left:after .slop-bottom:after
		background-size: auto 100%
		height: 100px
	.left-canvas, .right-canvas
		height: 202px
		width: 180px
	.right-canvas
		top: 100px
		right: 0
		left: auto
	.animation-wrap
		opacity: 1
		top: 0
		transition: none
	.section-heading, .values-section .section-heading, .leader-section .section-heading
		margin-bottom: 50px
	.culture-section .section-heading
		margin-bottom: 30px
	.detail-link:after
		margin: 15px auto 0
	.common-banner
		padding: 250px 0 180px
		min-height: 550px
		&.home-banner
			padding: 300px 0
		h1
			margin: 25px 0
		p
			font-size: 20px
			line-height: 26px
	.header-wrap
		padding: 10px 0
	.navigation-wrap
		position: fixed
		right: -100%
		top: 0
		width: 80%
		z-index: 1
		box-shadow: 0 0 5px #ddd
		height: 100%
		background: #fff
		box-sizing: border-box
		padding: 40px 30px 0
		-webkit-transition: right 0.4s ease-in-out
		-moz-transition: right 0.4s ease-in-out
		-ms-transition: right 0.4s ease-in-out
		-o-transition: right 0.4s ease-in-out
		transition: right 0.4s ease-in-out
		&.active
			right: 0
		.navigation
			float: none
			width: 100%
			text-align: left
			margin-top: 0
			li
				margin-left: 0
				display: block
				a
					padding: 0
					border: 0 none
					display: block
					margin-bottom: 30px
					&:hover
						color: $blue
	.btn-menu, .btn-close
		display: block
	.alternate-block
		margin-bottom: 60px
		.img-block, .content-block
			float: none !important
			margin: 30px auto
			width: 100%
			text-align: center
	.content-block
		padding: 20px 0 !important
		&:before
			left: 50%
			transform: translateX(-50%)
	.col-3
		margin: 0 !important
		padding: 20px 15px
	.blogs-row .slick-list
		padding-top: 25px
	.blog-img
		margin: -40px 0 20px
		max-height: 300px
		height: auto
	.bedifrent-footer
		padding: 140px 0 30px
	.footer-left, .footer-right
		float: none
		width: 100%
	.footer-map-wrap
		margin: 30px auto 0
	.footer-right
		padding-top: 50px
		.highlights-list
			width: 40%
		.navigation
			text-align: center
			width: 60%
	.contact-wrap 
		max-width: none
		.section-heading, .contact-field
			text-align: center
		.submit-field
			margin-top: 20px
	.copyright
		margin-top: 30px
	.leader-section
		margin: 150px 0 50px
	.leader-block
		.leader-img, .leader-content-wrap
			display: block
			width: 100%
			text-align: center
		.leader-content-wrap
			height: 350px
		.leader-content
			top: 0
			width: 100%
			left: 0
	.blog-content h5
		min-height: 48px
	.testimonial-section
		margin-bottom: 150px
	.testimonial-block
		position: relative
		display: block
		/* padding-bottom: 600px */
	.testimonial-left, .testimonial-right
		display: block
		width: 100%
	.testimonial-left
		/* position: absolute */
		/* height: 600px */
		/* top: 0 */
		img
			transform: scaleX(-1)
			position: absolute
			top: 0
			right: 0
			width: 100%
			height: 100%
	.testimonial-right
		/* min-height: 295px */
		.testimonial-content
		/* transform: translateY(70%) */
			/* height: 170px */
	.slick-dots
		bottom: -45px
		left: 50%
		transform: translateX(-50%)
		li button
			border: 1px solid #bbb
			border-radius: 50%
			width: 10px
			height: 10px
			text-indent: -9999px
		.slick-active button
			background: $blue
			border-color: $blue
	.page-banner
		padding: 150px 0 50px
	.banner-img, .banner-content
		float: none
		width: 100%
		text-align: center
		padding: 0
	.banner-content
		p
			max-width: none
	.usdifrent-section
		margin-bottom: 130px
		.testimonial-block
			padding-bottom: 600px
		.testimonial-left
			width: 100%
			overflow: hidden
			height: 600px
			img
				top: 50%
				bottom: auto
				transform: translateY(-50%)
		.testimonial-right
			min-height: auto
	.values-section, .values-list .alternate-block
		margin-bottom: 0
	.social-list li
		margin: 0 10px
	.leader-block
		display: none
	.mobile-leader-block
		display: block
	.leader-content
		p
			font-family: 'Lato Light'
			line-height: 24px
			font-size: 14px
			margin: 15px 0 0
			min-height: 95px
		h4
			font-size: 18px
			margin: 10px 0
		span
			font-size: 14px
	.leader-row
		.slick-list
			padding: 20px 0
		.col-3
			padding-bottom: 70px
		.slick-dots
			bottom: 10px
	.image-banner
		padding: 30px
		width: 90%
	.contact-section
		margin-top: 100px
		.section-heading
			margin-bottom: 30px
		.row-wrap
			margin-bottom: 0
			.form-field
				width: 100%
				float: none
				margin-right: 0
	.map-section
		margin-top: 50px
		&.slop-bottom:after
			bottom: 300px
	.location-details
		width: 80%
	.round-btn
		height: 50px
		line-height: 45px
	.image-header
		margin-bottom: 100px
		.header-wrap .navigation li a
			color: #666
			&:hover
				color: $blue
	.slick-dots li
		margin: 0 5px
	.hiring-row
		.col-3
			text-align: center
	.hiring-row .col-3
		h4
			margin: 15px 0
		.detail-link
			margin: 20px 0
	.culture-block
		text-align: center
		.left-canvas
			left: 0
	.culture-img, .culture-img.active
		width: 45%
		height: 145px
		margin: 8px
		max-width: none
	.culture-img.small
		max-width: none
		width: 20%
	.col-2
		width: 100%
		margin: 0 0 20px 0
		.img-wrap
			margin-left: -15px
	.content-wrap
		.blog-content
			h5
				margin: 10px 0
				min-height: auto
			p
				height: 50px
				min-height: auto
				margin: 10px 0
				overflow: hidden
	.blog-header
		.image-banner
			padding: 15px
	.more-blogs-section
		margin-bottom: 80px
	.details-section
		margin-top: -400px
		padding: 50px 20px
	.left-content, .right-content
		float: none
		width: 100%
	.right-content
		padding: 0
		margin-top: 30px
	.blog-social-list
		position: absolute
		bottom: 0
		width: 100%
		left: 0
		margin: 0
		padding-bottom: 30px
		li
			display: inline-block
			margin: 0 10px
		a
			margin-bottom: 0
			padding-left: 45px
	.author-block
		text-align: left
	.img-author, .author-name
		display: inline-block
		vertical-align: middle
	.author-name
		margin-left: 20px
	.blog-wrapper .right-canvas
		right: 0
		left: auto
@media (max-width: 480px)
	h1, .image-banner h1
		font-size: 30px
		line-height: 36px
	h5
		font-size: 20px
	.blog-content p
		min-height: 100px
	.slop-left
		padding-bottom: 50px
	.left-canvas, .right-canvas
		height: 150px
	.blogs-section
		margin-top: 230px
	.leader-content-wrap
		height: 470px
	.footer-right
		.highlights-list
			width: 56%
		.navigation
			width: 44%
	.leader-content p
		min-height: 170px
	.image-banner
		bottom: -70%
		padding: 20px 10px
		h1
			margin: 10px 0
		p
			font-size: 15px
			line-height: 24px
	.contact-left, .contact-right
		float: none
		width: 100%
		max-width: none
	.location-details address span
		font-size: 14px
	.footer-map-wrap
		max-width: 330px
	.culture-img, .culture-img.active
		width: 100%
		max-height: 260px
		margin: 0 0 10px 0
	.culture-img.small
		max-width: none
		margin: 0
		width: calc((100% - 13px) / 2)
		&:last-child
			margin-left: 10px
	.common-banner.home-banner
		padding: 250px 0 200px

	p.highlights-list
		max-width: 100%