/* common css */
@font-face
    font-family: 'Lato Light'
    src: url('fonts/Lato-Light.ttf')
@font-face
    font-family: 'Lato Regular'
    src: url('fonts/Lato-Regular.ttf')
@font-face
    font-family: 'Lato Bold'
    src: url('fonts/Lato-Bold.ttf')
@font-face
    font-family: 'Lato Black'
    src: url('fonts/Lato-Black.ttf')
@font-face
    font-family: 'Lato LightItalic'
    src: url('fonts/Lato-LightItalic.ttf')

body
    width: 100%
    height: 100%
    /* background-color: green */
    padding: 0
    margin: 0
    overflow-x: hidden
    color: $textColor
    font-size: 14px
    font-family: 'Lato Light', arial
    box-sizing: border-box
.clearfix
    clear: both
.clearfix:before, .clearfix:after
    clear: both
    display: table
    content: ""
.container
    max-width: 1600px
    margin: 0 auto
    box-sizing: border-box
img
    max-width: 100%
    /* vertical-align: middle */
    display: block
    max-width: 100%
    height: auto
    margin: 0 auto
a
    text-decoration: none
    color: #333
    -webkit-transition: all 0.4s ease-in-out
    -moz-transition: all 0.4s ease-in-out
    -o-transition: all 0.4s ease-in-out
    -ms-transition: all 0.4s ease-in-out
    transition: all 0.4s ease-in-out
h1
    font-size: 92px
    line-height: 96px
    font-family: 'Lato Black'
h2
    font-family: 'Lato Black'
h3
    font-size: 40px
    line-height: 44px
    font-family: 'Lato Bold'
h4
    font-size: 30px
    font-family: 'Lato Bold'    
h5
    font-size: 24px
    font-family: 'Lato Bold'
input
    background: transparent
    border: 0 none
input, input:focus, button, a:focus
    outline: none
button
    cursor: pointer
    padding: 0
    border: 0 none
/* components css starts */
.header-slop
    margin-bottom: 190px
    &:after
        bottom: -75px
        background: #eef1f1
        transform: rotate(-4deg)
.footer-slop
    margin-top: 350px
    &:after
        top: -75px
.slop-left, .slop-bottom
    position: relative
    padding-bottom: 140px
    &:after
        content: ""
        background: url(../images/slop-left.jpg) 0 0 no-repeat
        background-size: 100% 100%
        width: 100%
        height: 140px
        position: absolute
        bottom: 0
        left: 0
.slop-bottom
    &:after
        background: url(../images/slop-bottom.jpg) 0 bottom no-repeat
        background-size: 100% 100%
.slop-top
    position: relative
    padding-top: 140px
    &:before
        background: url(../images/slop-bottom.jpg) 0 0 no-repeat
        transform: rotate(180deg)
        content: ""
        background-size: 100% 100%
        width: 100%
        height: 140px
        position: absolute
        top: 0
        left: 0
.slop-right
    position: relative
    padding-top: 160px
    &:before
        content: ""
        background: url(../images/slop-right.jpg) 0 0 no-repeat
        background-size: 100% 100%
        width: 100%
        height: 140px
        position: absolute
        top: 0
        left: 0
.section-heading
    text-align: center
    margin-bottom: 70px
    &:before
        width: 18px
        height: 18px
        content: ""
        display: inline-block
        background: url('../images/heading-arrow.png') no-repeat center center
    span
        font-size: 20px
        font-family: 'Lato Regular'
        display: block
        margin: 10px 0
    h3
        margin: 15px 0 0
    h1.servicesHeading
        color: #333
        font-family: "Lato Black"
        font-size: 36px
        font-weight: 400
        line-height: 18px
        letter-spacing: 0.72px
p.highlights-list
    color: #333
    font-size: 18px
    font-weight: 300
    line-height: 32px
    letter-spacing: 0.36px
    font-family: 'Lato Regular'
    padding-left: 0
    max-width: 330px
    margin: 0 auto
p.highlights-list
    &--testimonial
        max-width: 512px
        
.highlights-list
    list-style-type: none
    padding-left: 25px
    margin: 0
    li
        font-size: 18px
        border-bottom: 1px solid #e1e1e1
        padding: 15px 0
        position: relative
        &:last-child
            border-bottom: 0 none
        &:before
            display: inline-block
            content: ""
            border-style: solid
            border-width: 5px
            border-color: transparent transparent transparent $blue
            position: absolute
            left: -20px
            top: 20px
            -webkit-transition: left 0.3s ease-in-out
            -moz-transition: left 0.3s ease-in-out
            -ms-transition: left 0.3s ease-in-out
            -o-transition: left 0.3s ease-in-out
            transition: left 0.3s ease-in-out
        a
            display: block
            &:hover
                color: $blue
.detail-link
    font-size: 16px
    font-family: 'Lato Bold'
    display: inline-block
    color: $blue
    padding-bottom: 39px
    &:after
        width: 30px
        height: 3px
        background-color: $darkBlue
        content: ""
        display: block
        margin-top: 15px
        -webkit-transition: width 0.3s ease-in-out
        -moz-transition: width 0.3s ease-in-out
        -o-transition: width 0.3s ease-in-out
        -ms-transition: width 0.3s ease-in-out
        transition: width 0.3s ease-in-out
    &:hover
        &:after
            width: 100%
    &--readMore
        color: $purple
        &:after
            background-color: $purple
.social-list
    list-style: none
    margin: 25px 0 0
    padding: 0
    li
        margin-right: 22px
        display: inline-block
        vertical-align: middle
        a
            width: 22px
            height: 22px
            display: inline-block
            text-indent: -9999px
            display: block
        .linkedin
            background: url('../images/icon-linkedin.png') no-repeat center 0
            &:hover
                background-image: url('../images/icon-linkedin-blue.png')
        .twitter
            background: url('../images/icon-twitter.png') no-repeat center center
            &:hover
                background-image: url('../images/icon-twitter-blue.png')
.slick-slide
    outline: none
.slick-dots
    display: block
    position: absolute
    bottom: 10px
    left: 46%
    padding: 0
    li
        display: inline-block
        margin-right: 10px
        background: transparent
        button
            background: none
            border: 0 none
            outline: none
            color: #999
            cursor: pointer
        &.slick-active button
            color: #51bf9f
.animation-wrap
    opacity: 0
    position: relative
    top: 80px
    -webkit-transition: all 0.5s linear 0s
    -moz-transition: all 0.5s linear 0s
    -o-transition: all 0.5s linear 0s
    -ms-transition: all 0.5s linear 0s
    transition: all 0.5s linear 0s
    &.in-view
        opacity: 1
        top: 0
.form-msg
    display: none
    font-size: 16px
    font-family: 'Lato Bold'
    margin-top: 20px
    position: absolute
    bottom: - 35px
.loading-icon
    display: none
    width: 90px
.success-msg
    color: #51bf9f
.error-msg
    color: #f00
.btn-close
    width: 15px
    height: 15px
    display: none
    background: url('../images/icon-close.png') no-repeat center center
    position: absolute
    right: 14px
    top: 40px
    text-indent: -9999px
.mCSB_container
    height: 100%
.round-btn
    display: inline-block
    background: $blue
    color: #fff
    padding: 0 30px
    border-radius: 25px
    height: 50px
    line-height: 50px
    -webkit-transition: all 0.5s ease-in-out
    -moz-transition: all 0.5s ease-in-out
    -ms-transition: all 0.5s ease-in-out
    -o-transition: all 0.5s ease-in-out
    transition: all 0.5s ease-in-out
    &:hover
        background: $darkBlue    
    &--purple
        background: $purple
        color: $white
        font-family: "Lato Black"
        font-size: 16px
        font-weight: 700
        line-height: 47px
        letter-spacing: 1.28px
        &:hover
            background: $purple
.page-wrapper
    position: relative
    .right-canvas
        top: -170px
/* header css starts */
.common-header
    min-height: 660px
    position: relative
.home-header
    background: $gray
.left-triangle
    position: absolute
    left: 0
    bottom: 22%
    height: 320px
.right-triangle
    position: absolute
    right: 0
    bottom: 35%
    height: 320px
.left-canvas
    position: absolute
    left: -5%
    bottom: 0
    height: 320px
.right-canvas
    position: absolute
    left: 90%
    top: 150px
    height: 320px
#canvasLeft, #canvasRight
    width: 100%
    height: 100%
.difrent-logo
    max-width: 117px
    display: block
    float: left
.btn-menu
    position: absolute
    top: 40px
    background: url(../images/btn-menu.png) no-repeat center center
    right: 10px
    width: 24px
    text-indent: -9999px
    border: none
    display: none
.transparent-nav
    .btn-menu
        background-image: url(../images/btn-menu-white.png)
.navigation
    padding: 0
    margin: 0
    list-style-type: none
    li
        a
            font-size: 16px
            color: #999
            font-family: 'Lato Regular'
            padding: 5px 0
            border-bottom: 2px solid transparent
            &:hover, &.active
                border-color: #999
                color: #0f0f0f
.home-header
    .header-wrap
        background-color: #eef1f1
.header-wrap
    padding: 20px 0
    position: fixed
    top: 0
    width: 100%
    -webkit-transition: top 0.4s ease-in-out
    -o-transition: top 0.4s ease-in-out
    -ms-transition: top 0.4s ease-in-out
    -moz-transition: top 0.4s ease-in-out
    transition: top 0.4s ease-in-out
    background-color: #fff
    z-index: 99
    .navigation
        float: right
        text-align: right
        width: calc(100% - 125px)
        margin-top: 24px
        li
            display: inline-block
            margin-left: 35px
            &:first-child
                margin-left: 0
.nav-up
    top: -150px
.common-banner
    position: relative
    min-height: 650px
    box-sizing: border-box
    padding-top: 200px
.home-banner
    text-align: center
    h1
        margin: 35px 0
    p
        max-width: 530px
        margin: 0 auto
        font-size: 24px
        line-height: 34px
        margin-bottom: 40px
.banner-img, .banner-content
    float: left
    box-sizing: border-box
.banner-img
    text-align: right
    padding-right: 50px
    width: 55%
.banner-content
    width: 45%
    h1
        margin: 70px 0 30px -30%
    p
        font-size: 18px
        max-width: 350px
        line-height: 26px
/* footer css starts */
.bedifrent-footer
    background: #e9e9e9
    padding: 140px 100px 55px
.footer-left, .footer-right
    width: 40%
    float: left
.footer-right
    padding-top: 120px
    float: right
.contact-wrap
    max-width: 500px
    .section-heading
        text-align: left
        margin-bottom: 30px
        p
            max-width: 275px
            margin: 10px 0
            font-size: 18px
.form-field
    border-bottom: 1px solid #c5c5c5
    margin-bottom: 22px
    input
        font-size: 16px
        font-family: 'Lato Regular'
        width: 100%
        padding-bottom: 12px
        box-sizing: border-box
    ::-webkit-input-placeholder
        color: #999 !important
    ::-moz-placeholder
        color: #999 !important
    ::-ms-input-placeholder
        color: #999 !important
    input:-webkit-autofill
        -webkit-box-shadow: 0 0 0 30px #fff inset
.attach-field
    position: relative
    input
        opacity: 0
        position: absolute
        z-index: -1
    label
        padding-right: 20px
        position: relative
        cursor: pointer
        width: 100%
        display: block
        font-size: 16px
        font-family: "Lato Regular"
        width: 100%
        padding-bottom: 12px
        box-sizing: border-box
        color: #999
        z-index: 1
        &.active
            color: #333
        &:after
            display: block
            position: absolute
            content: ""
            width: 15px
            height: 15px
            right: 0
            top: 5px
            background: url('../images/icon-attachment.png') no-repeat 0 0
.submit-field
    margin-top: 30px
    cursor: pointer
    input
        color: #33ccff
        padding: 0
        font-size: 16px
        font-family: 'Lato Bold'
        cursor: pointer
.row-wrap
    .form-field
        width: calc((100% - 18px) / 2)
        float: left
        &:first-child
            margin-right: 18px
.contact-details
    color: #666
    font-size: 18px
    font-family: "Lato Bold"
    .contact-field
        margin-bottom: 10px
    a
        color: $purple
        margin-left: 10px
        &:hover
            color: $purple
.footer-map-wrap
    max-width: 360px
    height: 260px
    margin-top: 30px
    #footer-map
        width: 100%
        height: 100%
.gm-style-cc
    display: none !important
.gm-style a[href^="https://maps.google.com/maps"]
    display: none !important
.footer-right
    .highlights-list, .navigation
        float: right
        box-sizing: border-box
    .highlights-list
        width: 36%
        li
            border-bottom: 0 none
            margin-bottom: 40px
            font-family: 'Lato Bold'
            color: #666
            padding: 0
            &:before
                top: 8px
            span
                /* display: block */
            a
                color: #666
            small
                display: block
                color: #999
                font-size: 14px
                font-family: 'Lato Regular'
                margin-top: 12px
    .navigation
        width: 50%
        li
            margin-bottom: 30px
    /* .deployment-block */
        /* span
            color: #3399cc
        &:before
            border-color: transparent transparent transparent #3399cc
        a:hover
            color: #3399cc */
    /* .development-block */
        /* span
            color: #e88a43
        &:before
            border-color: transparent transparent transparent $orange
        a:hover
            color: $orange */
    .delivery-block
        span
            color: $purple
        &:before
            border-color: transparent transparent transparent $purple
        a:hover
            color: $purple
.copyright
    text-align: center
    font-size: 14px
    font-family: 'Lato Regular'
    margin-top: 80px
    color: #999

/* Home page css */

/* services section*/
.services-section
    margin: 50px 0 80px
.alternate-block
    margin-bottom: 180px
    &:last-child
        margin-bottom: 0
    .img-block, .content-block
        width: 50%
        box-sizing: border-box
    &:nth-child(odd)
        .img-block
            float: left
        .content-block
            float: right
    &:nth-child(even)
        .img-block
            float: right
        .content-block
            float: left
    .content-block
        padding: 35px 86px 0
        max-width: 620px
        /* margin-top: 130px */
        h3
            margin: 0 0 25px
            color: #999
            span
                display: block
        .detail-link
            margin-top: 35px
.content-block
    position: relative
    &:before
        background-image: -webkit-linear-gradient(0deg, #19879f 13px, #3caed1 13px, #3caed1 26px, #54c9f3 13px, #54c9f3 13px)
        background-size: 40px
        content: ""
        position: absolute
        width: 40px
        height: 7px
        top: 0
.deployment-block
    /* .content-block
        h3 
            span
                color: $blue */
.delivery-block
    .content-block
        &:before
            background-image: -webkit-linear-gradient(0deg, #675188 13px, $purple 13px, $purple 26px, #d6a5b2 13px, #d6a5b2 13px)
        h3
            span
                color: $purple
        .detail-link
            color: $purple
            &:after
                background-color: $purple
        .highlights-list li
            &:before
                border-color: transparent transparent transparent $purple
            a:hover
                color: $purple
.development-block
    /* .content-block
        &:before
            background-image: -webkit-linear-gradient(0deg, #d97a31 13px, $darkOrange 13px, $darkOrange 26px, #e9d94a 13px, #e9d94a 13px)
        h3
            span
                color: $orange
        .detail-link
            color: $darkOrange
            &:after
                background-color: $darkOrange
            &:hover:after
                width: 30px
        .highlights-list li
            &:before
                border-color: transparent transparent transparent $darkOrange
            a:hover
                color: $darkOrange */
/* clients section */
.clients-section
    margin: 80px 0
    .section-heading
        span
            color: #666
.clients-wrapper
    list-style-type: none
    max-width: 1000px
    overflow: hidden
    margin: 0 auto
.client-item
    width: calc(100% / 3)
    border-right: 1px solid #e5e5e5
    border-top: 1px solid #e5e5e5
    float: left
    box-sizing: border-box
    text-align: center
    height: 145px
    margin-top: -1px
    display: table
    &:nth-child(3n)
        border-right: 0 none
    > div
        display: table-cell
        vertical-align: middle
        img
            display: inline-block

/* testimonial section */
.testimonial-section
    background-color: #e9e9e9
    margin-bottom: 200px
.testimonial-wrapper
    max-width: 1000px
    margin: -200px auto 0
    bottom: -210px
    position: relative
    z-index: 9
    box-shadow: 0 0 25px #ddd
    background-color: #fff
.testimonial-block
    display: table
.testimonial-left, .testimonial-right
    display: table-cell
    box-sizing: border-box
.testimonial-left
    background: $purple url('../images/aa.png') no-repeat center center
    width: 50%
    vertical-align: bottom
    height: 500px
    background-size: contain
    img
        min-width: 100%
.testimonial-right
    padding: 40px
    font-size: 20px
    p
        font-family: 'Lato Regular'
        margin: 0 0 20px
        color: #333
        font-size: 18px
        font-weight: 300
    strong
        font-family: 'Lato Bold'
        margin-top: 20px
        display: block
        text-transform: lowercase
    span
        /* font-size: 14px */
        color: #999999
        margin: 10px 0 70px
    .testimonial-content
        /* height: 220px */
        overflow: hidden
        margin-bottom: 5px
    .more-link
        display: none
        font-family: 'Lato Bold'
        color: #33ccff
.testimonial-inner
    .content-block
        h3
            color: #999
            font-family: 'Lato Bold'
            font-size: 30px
            font-weight: 400
            line-height: 32px
            padding-top: 0
            text-align: center
/* blogs section*/
.blogs-section
    padding: 0 62px
    margin: 250px 0 20px
.col-3
    width: calc((100% - 120px) / 3)
    float: left
    margin: 0 20px
    padding: 0 20px 35px
    border: 1px solid #dedede
    box-sizing: border-box
    &:nth-child(2)
        margin-top: 60px
    &:nth-child(3)
        margin-top: 160px
.blog-img
    margin: -18px 0 25px
    height: 185px
    overflow: hidden
    display: block
    img
        width: 100%
.blog-content
    .blog-date
        font-size: 14px
        color: #999
        font-family: 'Lato Regular'
    h5
        margin: 15px 0
        a:hover
            color: $blue
    p
        font-size: 18px
        line-height: 25px
        color: #666
    .detail-link
        margin-top: 25px

/* About Page css */

/* values section */
.values-section
    margin: 100px 0
    .section-heading
        margin-bottom: 130px
        h3
            font-size: 36px
.values-list
    .alternate-block
        margin-bottom: 200px
    .content-block
        margin-top: 0
        padding: 35px 98px 0
        &:before
            background-image: -webkit-linear-gradient(0deg, #eba24a 13px, #3caed1 13px, #3caed1 26px, #a35ba4 13px, #a35ba4 13px)

/* us difrent section */ 
.usdifrent-section
    .testimonial-left
        background: none
        width: 35%
        img
            width: 100%
            /* vertical-align: top */
    .testimonial-right 
        padding: 20px
        vertical-align: middle
    .highlights-list
        li
            line-height: 30px
            &:before
                top: 25px
/* leader section */ 
.leader-section
    margin: 250px 0 160px
    .section-heading
        margin-bottom: 120px
.leader-content-wrap
    position: relative
.leader-img, .leader-content-wrap
    width: 50%
    float: left
    box-sizing: border-box
.triangle-shape
    fill-opacity: 1
    cursor: pointer
.triangle-shape.active
    fill-opacity: 1
.leader-content
    background: #fff
    position: absolute
    padding: 0 115px
    box-sizing: border-box
    left: 0
    top: 150px
    width: 100%
    opacity: 0
    z-index: 0
    -webkit-transition: opacity 0.5s ease-in-out
    -moz-transition: opacity 0.5s ease-in-out
    -o-transition: opacity 0.5s ease-in-out
    -ms-transition: opacity 0.5s ease-in-out
    transition: opacity 0.5s ease-in-out
    &.current
        opacity: 1
        z-index: 1
    h4
        margin: 20px 0
    span
        font-family: 'Lato Regular'
        font-size: 16px
        color: #666
        letter-spacing: 1px
    p
        font-size: 18px
        line-height: 32px
        margin: 30px 0 0
/* News Section */
.news-section
    margin: 115px 0
    display: none
.mobile-leader-block
    display: none
    .leader-content
        opacity: 1
        z-index: 1
        position: relative
        padding: 0
        top: 0
        width: 100%
        left: 0

/* services page css */
.image-header
    background: url('../images/banner-services.jpg') no-repeat center center
    background-size: cover
    height: 500px
    margin-bottom: 180px
    &.slop-left:after
        background-image: url('../images/slop-bottom-right.png')
        z-index: 1
.contact-header
    background-image: url('../images/banner-contact.jpg')
.services-header, .blog-header
    background-image: url('../images/banner-services.jpg')
.careers-header
    background-image: url('../images/banner-careers.jpg')
.logo-white
    display: none
.transparent-nav
    background: transparent
    .navigation
        li
            a
                color: #fff
                &:hover, &.active
                    border-color: #fff
    .logo-common
        display: none
    .logo-white
        display: block
.image-banner
    max-width: 580px
    background: #fff
    margin: 0 auto
    position: relative
    bottom: -90%
    z-index: 2
    text-align: center
    padding: 40px 105px 60px
    box-sizing: border-box
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1)
    display: block
    h1
        font-size: 36px
        line-height: 44px
    p
        font-size: 18px
        line-height: 26px
        margin-bottom: 0
    .section-heading
        margin-bottom: 0
/* contact page css * /
.contact-banner
    padding: 40px 45px 60px
.contact-info
    text-align: center
    a
        color: #666
        font-family: 'Lato Regular'
        &:hover
            color: $blue
    h5
        margin: 15px 0
.contact-left, .contact-right
    width: 50%
    box-sizing: border-box
    max-width: 160px
.contact-left
    float: left
.contact-right
    float: right
.contact-section
    margin-top: 230px
    padding: 70px 30px 60px
    box-shadow: 1px 1px 20px #e4e1e1
    .section-heading
        max-width: 260px
        margin: 0 auto 70px
        font-size: 18px
        line-height: 26px
    .contact-form
        margin: 0 auto
        max-width: 1200px
        position: relative
    .row-wrap
        margin-bottom: 40px
        .form-field 
            width: calc((100% - 60px) / 3)
            margin-right: 30px
            &:last-child 
                margin-right: 0
    .round-btn input
        color: #fff
.map-section
    margin: 100px 0 -200px
    padding: 0
    &.slop-right
        
        &:before
            background-image: url('../images/slop-top-left.png')
            top: 0
            z-index: 2
    &.slop-bottom
        &:after
            background-image: url('../images/slop-bottom-left.png')
            z-index: 2
            bottom: 327px
    .map-wrap
        height: 800px
    .location-map
        width: 100%
        height: 100%
.location-details
    background: #fff
    position: relative
    max-width: 590px
    margin: 0 auto
    z-index: 9
    padding: 40px 20px 60px
    box-shadow: 0px 1px 20px #d3d3d3
    bottom: 240px
    h3
        margin-bottom: 20px
    address span
        color: #666
        font-size: 18px
        font-style: normal
/* careers page css */
.hiring-section
    margin: 150px 0
    .section-heading
        margin-bottom: 100px
.hiring-row
    .col-3
        border: 0 none
        text-align: left
        h4
            margin-bottom: 30px
            span
                display: block
        .detail-link
            margin-top: 40px
.career-contact-section
    box-shadow: none
    padding: 0
    margin-bottom: 100px
    .section-heading
        max-width: 385px
.culture-section
    margin-top: 50px   
    .section-heading
        margin-bottom: 100px
.culture-block
    max-width: 1150px
    margin: 0 auto
    text-align: right
    position: relative
    .left-canvas
        left: 15%
        bottom: 15%
        z-index: -1
.culture-img
    display: inline-block
    max-width: 390px
    height: 300px
    overflow: hidden
    margin: 0 0 25px 25px
    &.active
        width: 600px
        height: 400px
        max-width: none
    &.small
        max-width: 182px
    img
        width: 100%

/* blog page css */
.blog-list-section
    margin: 90px 0
.blog-header
    margin-bottom: 300px
    .image-banner
        padding: 40px 45px 50px
        span
            font-family: 'Lato Regular'
            color: #999
            font-size: 14px
            display: block
            margin-top: 35px
.col-2
    float: left
    width: calc((100% - 65px) / 2)
    margin: 0 65px 45px 0
    border: 1px solid #dedede
    box-sizing: border-box
    padding: 18px 0
    &:nth-child(2n)
        margin-right: 0
    .img-wrap, .content-wrap
        display: inline-block
        vertical-align: middle
    .img-wrap
        width: 35%
        margin-left: -22px
        overflow: hidden
        img
            width: 100%
    .content-wrap
        width: 65%
        box-sizing: border-box
        padding-left: 35px
    span
        color: #999
        font-family: 'Lato Regular'
/* blog details page */
.blog-wrapper .right-canvas
    top: 20%
    right: 2%
.details-section
    padding: 60px
    background: #fff
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
    margin: -520px 60px 90px
    position: relative
    z-index: 9
.left-content, .right-content
    float: left
    box-sizing: border-box
.left-content
    width: 180px
.author-block
    font-family: 'Lato Regular'
    text-align: center
    h5
        font-size: 16px
        margin: 15px 0 5px
    span
        font-size: 12px
        color: #999
.img-author
    width: 95px
    height: 95px
    border-radius: 50%
    overflow: hidden
    margin: 0 auto
.blog-social-list
    list-style-type: none
    margin-top: 40px
    padding: 0
    text-align: center
    a
        color: #999
        font-size: 14px
        position: relative
        padding-left: 50px
        font-family: 'Lato Regular'
        line-height: 32px
        margin-bottom: 20px
        display: inline-block
        &:hover
            color: $blue
        &:before
            width: 32px
            height: 32px
            position: absolute
            display: block
            content: ""
            background: url('../images/img-facebook.png') no-repeat center center
            left: 0
            top: 0
        &.twitter
            &:before
                background-image: url('../images/img-twitter.png')
        &.email
            &:before
                background-image: url('../images/img-email.png')
.right-content
    width: calc(100% - 180px)
    text-align: left
    padding-left: 60px
    margin-bottom: 0
    h2
        font-size: 36px
        margin: 20px 0 30px
    h5
        margin: 15px 0
        font-family: 'Lato Black'
    p
        font-family: 'Lato Regular'
        color: #666666
        font-size: 18px
        line-height: 32px
        margin: 0 0 30px
    .img-wrap
        margin: 40px 0
        img
            width: 100%
    .blockquote-wrap
        color: #666
        margin: 40px 0
        blockquote
            font-size: 30px
            font-family: 'Lato Bold'
            font-style: Italic
            margin: 0
        span
            font-size: 14px
            font-family: 'Lato Regular'
            margin: 20px 0 0
small
    font-family: 'Lato Regular'
    color: #999999
    font-size: 16px
    font-weight: 700
    line-height: 22px